## 결측치

In [63]:
import pandas as pd 

data = {'Name': ['Alice', 'Bob', 'Charie'],
        'Age': [25, None, 30], 
        'Score': [90, 85, None]
       }

df = pd.DataFrame(data) 
df.head()

     Name   Age  Score
0   Alice  25.0   90.0
1     Bob   NaN   85.0
2  Charie  30.0    NaN

In [64]:
print(df.isnull().sum())

Name     0
Age      1
Score    1
dtype: int64

In [65]:
print("결측치 확인")
print(df.isnull())

mean_age = df['Age'].mean()
df['Age'] = df['Age'].fillna(mean_age)
df['Score'] = df['Score'].fillna(0)

print("\n결측치 처리 후 데이터")    
print(df)

결측치 확인
    Name    Age  Score
0  False  False  False
1  False   True  False
2  False  False   True

결측치 처리 후 데이터
     Name   Age  Score
0   Alice  25.0   90.0
1     Bob  27.5   85.0
2  Charie  30.0    0.0

## 이상치