### (1) 데이터 변합과 추가의 중요성

### (2) 데이터 병합(Join)

In [3]:
import pandas as pd 

data1 = {'제품ID': [1, 2, 3],
         '제품명': ['노트북', '모니터', '키보드'] 
        }
df1 = pd.DataFrame(data1) 

data2 = {'제품ID': [1, 2, 4],
         '가격': [1000, 200, 50]
        }
df2 = pd.DataFrame(data2) 

print(df1)
print('\n')
print(df2)

   제품ID  제품명
0     1  노트북
1     2  모니터
2     3  키보드


   제품ID    가격
0     1  1000
1     2   200
2     4    50

In [4]:
inner_join = pd.merge(df1, df2, on='제품ID', how='inner')
print(inner_join)

   제품ID  제품명    가격
0     1  노트북  1000
1     2  모니터   200

In [6]:
outer_join = pd.merge(df1, df2, on='제품ID', how='outer')
print(outer_join)

   제품ID  제품명      가격
0     1  노트북  1000.0
1     2  모니터   200.0
2     3  키보드     NaN
3     4  NaN    50.0

In [7]:
left_join = pd.merge(df1, df2, on='제품ID', how='left') 
print(left_join)

   제품ID  제품명      가격
0     1  노트북  1000.0
1     2  모니터   200.0
2     3  키보드     NaN

In [8]:
right_join = pd.merge(df1, df2, on='제품ID', how='right')
print(right_join)

   제품ID  제품명    가격
0     1  노트북  1000
1     2  모니터   200
2     4  NaN    50

In [10]:
cross_join = pd.merge(df1, df2, how='cross')
print(cross_join)

   제품ID_x  제품명  제품ID_y    가격
0       1  노트북       1  1000
1       1  노트북       2   200
2       1  노트북       4    50
3       2  모니터       1  1000
4       2  모니터       2   200
5       2  모니터       4    50
6       3  키보드       1  1000
7       3  키보드       2   200
8       3  키보드       4    50

### (3) 데이터 추가(Union)

In [11]:
data1 = {'이름': ['홍길동', '이순신'], 
         '나이': [30, 40]        
        }
df1 = pd.DataFrame(data1)
data2 = {'이름': ['강감찬', '유관순'],
         '나이': [50, 20]
        }
df2 = pd.DataFrame(data2) 

print(df1)
print('\n')
print(df2)

    이름  나이
0  홍길동  30
1  이순신  40


    이름  나이
0  강감찬  50
1  유관순  20

In [12]:
union_df = pd.concat([df1, df2], ignore_index=True)
print(union_df)

    이름  나이
0  홍길동  30
1  이순신  40
2  강감찬  50
3  유관순  20

In [18]:
data3 = {'이름': ['정약용', '김유신'],
         '주소': ['서울', '경주']
        }
df3 = pd.DataFrame(data3) 

union_with_different_columns = pd.concat([df1, df3], ignore_index=True)
print(union_with_different_columns)

    이름    나이   주소
0  홍길동  30.0  NaN
1  이순신  40.0  NaN
2  정약용   NaN   서울
3  김유신   NaN   경주