In [12]:
import pandas as pd 

file_path = 'datasets/heart.csv'
data = pd.read_csv(file_path)
df = pd.DataFrame(data)
df.head()

df.columns = ['나이', '성별', '흉통유형', '안정시혈압', '콜레스테롤', '공복혈당', 
              '심전도', '최대심박수', '운동유발협심증', 'ST우울증', '운동후ST검사', 
              '주요혈관수', '결합유형', '심장질환여부']

print(df.columns)
print(df)

Index(['나이', '성별', '흉통유형', '안정시혈압', '콜레스테롤', '공복혈당', '심전도', '최대심박수', '운동유발협심증',
       'ST우울증', '운동후ST검사', '주요혈관수', '결합유형', '심장질환여부'],
      dtype='object')
     나이  성별  흉통유형  안정시혈압  콜레스테롤  공복혈당  심전도  최대심박수  운동유발협심증  ST우울증  운동후ST검사  \
0    63   1     3    145    233     1    0    150        0    2.3        0
1    37   1     2    130    250     0    1    187        0    3.5        0
2    41   0     1    130    204     0    0    172        0    1.4        2
3    56   1     1    120    236     0    1    178        0    0.8        2
4    57   0     0    120    354     0    1    163        1    0.6        2
..   ..  ..   ...    ...    ...   ...  ...    ...      ...    ...      ...
298  57   0     0    140    241     0    1    123        1    0.2        1
299  45   1     3    110    264     0    1    132        0    1.2        1
300  68   1     0    144    193     1    1    141        0    3.4        1
301  57   1     0    130    131     0    1    115        1    1.2        1
302  57   0     1    130    236     0    0    174        0    0.0        1

     주요혈관수  결합유형  심장질환여부
0        0     1       1
1        0     2       1
2        0     2       1
3        0     2       1
4        0     2       1
..     ...   ...     ...
298      0     3       0
299      0     3       0
300      2     3       0
301      1     3       0
302      1     2       0

[303 rows x 14 columns]

### (1) 그룹화와 집계

In [13]:
grouped = df.groupby('성별') 

grouped.size()

성별
0     96
1    207
dtype: int64

In [14]:
grouped_mean = grouped.mean()

print(grouped_mean)

           나이      흉통유형       안정시혈압       콜레스테롤     공복혈당       심전도  \
성별
0   55.677083  1.041667  133.083333  261.302083  0.12500  0.572917
1   53.758454  0.932367  130.946860  239.289855  0.15942  0.507246

         최대심박수   운동유발협심증     ST우울증   운동후ST검사     주요혈관수      결합유형    심장질환여부
성별
0   151.125000  0.229167  0.876042  1.427083  0.552083  2.125000  0.750000
1   148.961353  0.371981  1.115459  1.386473  0.811594  2.400966  0.449275

In [16]:
grouped_stats = grouped.agg({
    '나이': ['max', 'min'], 
    '콜레스테롤': ['mean', 'std']
})

grouped_stats

    나이           콜레스테롤
   max min        mean        std
성별
0   76  34  261.302083  65.088946
1   77  29  239.289855  42.782392

In [18]:
grouped_multi = df.groupby(['성별', '흉통유형']).mean() 

print(grouped_multi)

                나이       안정시혈압       콜레스테롤      공복혈당       심전도       최대심박수  \
성별 흉통유형
0  0     57.256410  138.589744  267.538462  0.128205  0.538462  145.282051
   1     51.944444  128.055556  251.444444  0.111111  0.555556  162.833333
   2     54.971429  127.885714  261.057143  0.114286  0.600000  151.800000
   3     63.250000  147.500000  247.000000  0.250000  0.750000  149.500000
1  0     55.105769  129.557692  243.605769  0.125000  0.451923  138.759615
   1     51.031250  128.593750  241.031250  0.093750  0.656250  162.187500
   2     52.538462  132.057692  231.134615  0.250000  0.596154  158.173077
   3     54.315789  139.473684  235.052632  0.210526  0.315789  157.315789

          운동유발협심증     ST우울증   운동후ST검사     주요혈관수      결합유형    심장질환여부
성별 흉통유형
0  0     0.461538  1.356410  1.179487  0.820513  2.282051  0.461538
   1     0.111111  0.461111  1.666667  0.555556  2.000000  0.888889
   2     0.057143  0.474286  1.571429  0.257143  2.028571  0.971429
   3     0.000000  1.575000  1.500000  0.500000  2.000000  1.000000
1  0     0.596154  1.393269  1.288462  1.019231  2.509615  0.201923
   1     0.062500  0.234375  1.687500  0.343750  2.218750  0.781250
   2     0.173077  1.015385  1.461538  0.807692  2.326923  0.673077
   3     0.210526  1.352632  1.210526  0.473684  2.315789  0.631579

In [19]:
fruit_price = {'사과': 1000, '바나나': 500}
print(fruit_price['사과'])

1000

In [25]:
matrix = [[1, 2], [3,4]]
print(matrix[0][1])

2

In [27]:
import pandas as pd 

file_path = 'datasets/heart.csv'
data = pd.read_csv(file_path)
#df = pd.DataFrame(data) 

df.columns = ['나이', '성별', '흉통유형', '안정시혈압', '콜레스테롤', '공복혈당', 
              '심전도', '최대심박수', '운동유발협심증', 'ST우울증', '운동후ST검사', 
              '주요혈관수', '결합유형', '심장질환여부'] 
df.head()

,나이,성별,흉통유형,안정시혈압,콜레스테롤,공복혈당,심전도,최대심박수,운동유발협심증,ST우울증,운동후ST검사,주요혈관수,결합유형,심장질환여부
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1