In [1]:
import pandas as pd

In [2]:
data = {'Name' : ['Alice', 'Bob', 'Charlie'], 'Age' : [25, 30, 35]}
df = pd.DataFrame(data)

In [3]:
adults = df[df['Age'] > 28]
print(adults)

      Name  Age
1      Bob   30
2  Charlie   35

In [4]:
pip install pandas

Requirement already satisfied: pandas in /home/jackchun/works/aice/venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/jackchun/works/aice/venv/lib/python3.13/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/jackchun/works/aice/venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/jackchun/works/aice/venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/jackchun/works/aice/venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/jackchun/works/aice/venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [8]:
data = [10, 20, 30, 40]
series =  pd.Series(data)
print("Series:\n", series)

Series:
 0    10
1    20
2    30
3    40
dtype: int64

In [9]:
print("first value", series[0])

first value 10

In [18]:
data = {
    "이름": ["김철수", "이영희", "박민수"], 
    "수학": [85, 90, 78], 
    "영어": [88, 84, 95]
}
df = pd.DataFrame(data) 
print("DataFrame:\n", df)

DataFrame:
     이름  수학  영어
0  김철수  85  88
1  이영희  90  84
2  박민수  78  95

In [20]:
print("print()로 출력")
print(df)
print("\nDataFrame 형태로 출력:" )
df

print()로 출력
    이름  수학  영어
0  김철수  85  88
1  이영희  90  84
2  박민수  78  95

DataFrame 형태로 출력:

    이름  수학  영어
0  김철수  85  88
1  이영희  90  84
2  박민수  78  95

In [21]:
df

    이름  수학  영어
0  김철수  85  88
1  이영희  90  84
2  박민수  78  95